@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrollbar Styling */
 *::-webkit-scrollbar {
  width: 4px;
  background-color: #ffff;

}

*::-webkit-scrollbar-thumb {
  background-color: #d8d6d6;
  border-radius: 20px;
} 

.bgclo {
  background: linear-gradient(to bottom, #0EB09E, #99FEAC);
}

  .custom-swiper .swiper-pagination {
    bottom: 2px !important; /* You can change to 'top: 10px;' or custom positioning */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* or 'flex-start', 'flex-end' etc. */
    align-items: center;
  }

  .custom-swiper .swiper-pagination-bullet {
    background: blue; /* Custom color */
    opacity: 1;
  }

  .custom-swiper .swiper-pagination-bullet-active {
    background: rgb(21, 200, 83);
  }