@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrollbar Styling */
 *::-webkit-scrollbar {
  width: 4px;
  background-color: #ffff;

}

*::-webkit-scrollbar-thumb {
  background-color: #d8d6d6;
  border-radius: 20px;
} 

.bgclo {
  background: linear-gradient(to bottom, #232326, #ff494A);
}
